.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
}

.App-header div {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.App-header a {
  color: white;
}
/*.edit {
  margin: 0 auto;
  z-index: 2;
  opacity: .5;
  height: 1000px;
  width: 2000px;
}
.editBox {
  position: fixed;
  margin: 0 auto;
  z-index: 3;
  top: 200px;
  width: 400px;
  height: 300px;
  background-color: green;
}*/

.main {
  margin: 0 auto;
  width: 95%;
}
.home {
  display: none;
  margin: 0 auto;
  width: 99%;
}
.divider {
  display: none;
}
.container {
  width: 100%;
  display: inline-block;
}

.create {
  margin: 0 auto;
  display: inline-block;
  width: 95%;
  height: 100%;
  border: 2px solid red;
}
.textbox {
  height: 30px;
  width: 150px;
  padding: 15px;
  font-size: 1em;
}
button {
  height: 30px;
}
.read {
  margin: 0 auto;
  display: inline-block;
  width: 95%;
  border: 2px solid red;
}
.event p {
  display: block;
  margin: 0 auto;
  width: 100%;
  border: 2px solid red;
  font-size: 1em;
}
.delete {
  float: right;
  margin-right: 20px;
}

footer {
  width: 100%;
  height: 70px;
/*  position: fixed;
  bottom: 0px;
  left: 0px;*/
  background-color: white;
}
p {
  font-size:.75em;
}
a {
  color:#000;
  text-decoration:none;
}
.red {
  color: red;
}

